

<div class="gradientCont4">
    <div id="profile" class="gradientCont3 w-full lg:w-3/5 rounded-lg lg:rounded-l-lg lg:rounded-r-none shadow-2xl bg-white opacity-75 mx-6 lg:mx-0">
      <div class="p-4 md:p-12 text-center lg:text-left">

<img src="{{dataBuy.nftImage}}">
<p>Title: {{dataBuy.nftTitle}}</p>
<p>Description: {{dataBuy.shortDescription}}</p>
<p>#{{dataBuy.nftHashTag}}</p>
<p>$IHC: {{dataBuy.nftPrice}}</p>
<img class="object-right-center" src="eth.png" alt="rhtqrl">
<p>Address: 0xc4d77f0f6a3a871ea99c24a4fa7417bd7355b371</p>
        </div>
    </div>